ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: bisque; */
    margin-left: -10px;
}

li a:link {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
    color: black;
}

/* .nav-left {
    float: left;
} */

.nav-right {
    float: right;
}

li {
    display: block;
    text-align: center;
    padding: 15px 16px 15px 10px;
    float: left;
    font-size: x-small;
}


footer ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(228, 227, 227);  
}

#signIn {
    background-color:#1A73E8;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

.app-icon {
    line-height: 20px;
}

.main-body {
    /* position: absolute; */
    /* padding: 200px 200px; */
    /* width: 100%;
    height: 80%; */
    
    /* border: 3px solid black; */
}

.g-logo {
    display: block;
    /* position: absolute; */
    margin: auto;
    margin-top: 5%;
}

.search-form {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    
}

.search-buttons {
    /* border: 1px solid black; */
    text-align: center;
}

.google-search {
    background-color: #F4F4F4;
    padding: 10px 15px 10px 15px;
    margin-right: 20px;
    border: none;
}

.lucky-search {
    background-color: #F4F4F4;
    padding: 10px 15px 10px 15px;
    border: none;
}