ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: bisque; */
    margin-left: -10px;
}

li a:link {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

li a:hover {
    text-decoration: underline;
    color: rgb(82, 82, 82);
}

li a:visited {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

/* .nav-left {
    float: left;
} */

.nav-right {
    float: right;
}

li {
    display: block;
    text-align: center;
    padding: 15px 16px 15px 10px;
    float: left;
    font-size: x-small;
}


footer ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(228, 227, 227);  
}

#signIn {
    background-color:#1A73E8;
    color: white;
    /* border-radius: 5px; */
    padding: 8px 20px;
    border: none;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

.app-icon {
    line-height: 20px;
}

.g-logo {
    display: block;
    /* position: absolute; */
    margin: auto;
    margin-top: 10%;
}

.search-form {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0px 40px;
    background-image: url('img/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.search-form:focus {
    outline:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-form:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-buttons {
    text-align: center;
}

.google-search {
    background-color: #F4F4F4;
    padding: 10px 15px 10px 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
}

.lucky-search {
    background-color: #F4F4F4;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
}

.google-search:hover {
    box-shadow: 1px 1px 2px 2px rgb(202, 201, 201);
}

.lucky-search:hover {
    box-shadow: 1px 1px 2px 2px rgb(202, 201, 201);
}